<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGzF4T0xx1pOwslqfsPbxcaG-A6o876DM</string>
	<key>GCM_SENDER_ID</key>
	<string>892388092181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.t2.timerzeerkmp</string>
	<key>PROJECT_ID</key>
	<string>timerzeerkmp</string>
	<key>STORAGE_BUCKET</key>
	<string>timerzeerkmp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892388092181:ios:9da529183c97166750e11c</string>
</dict>
</plist>